<div class='login-form-wrapper'>
  <div class='title'>
    Login
  </div>
  <div class='input-wrapper'>
    <p>
      Email
    </p>
    <input type="email" name="" value="" [(ngModel)]="email">

  </div>
  <div class='input-wrapper'>
    <p>
      Password
    </p>
    <input placeholder="" type="password" name="" value="" [(ngModel)]="password">
  </div>
  <div class='button-and-href-wrapper'>
    <button (click)="login()" type="button" name="button">Login</button>
    <a (click)='goToRegister()' class='label'>
      you dont have an account?
    </a>
  </div>
</div>
